nacos-boot-webservice/src/main/resources/schemas/erp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN_ZFII00_JGJS_WS">
        <wsaw:UsingAddressing xmlns:wsaw="http://schemas.xmlsoap.org/ws/2004/08/addressing"/>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                        xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                        wsp:Optional="true"/>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility">
            <wsp:All>
                <sp:TransportBinding>
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken/>
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:TripleDesRsa15/>
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Strict/>
                            </wsp:Policy>
                        </sp:Layout>
                    </wsp:Policy>
                </sp:TransportBinding>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF_ZFII00_JGJS_WS">
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                        xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                        xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                        xmlns:wsa="http://www.w3.org/2005/08/addressing"
                        xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"/>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP_ZFII00_JGJS_WS">
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
        </sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
        </sapblock:enableBlocking>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
        </saptrhnw05:required>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:element name="ZFII00_JGJS_WS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="INPUT" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ZFNAME" type="n0:char12" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZFII00_JGJS_WSResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="OUTPUT" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZFII00_JGJS_WS">
        <wsdl:part name="parameters" element="tns:ZFII00_JGJS_WS"/>
    </wsdl:message>
    <wsdl:message name="ZFII00_JGJS_WSResponse">
        <wsdl:part name="parameter" element="tns:ZFII00_JGJS_WSResponse"/>
    </wsdl:message>
    <wsdl:portType name="ZFII00_JGJS_WS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF_ZFII00_JGJS_WS"/>
        </wsp:Policy>
        <wsdl:operation name="ZFII00_JGJS_WS">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP_ZFII00_JGJS_WS"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZFII00_JGJS_WS"/>
            <wsdl:output message="tns:ZFII00_JGJS_WSResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ZFII00_JGJS_WS" type="tns:ZFII00_JGJS_WS">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN_ZFII00_JGJS_WS"/>
        </wsp:Policy>
        <wsa:EndpointReference xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing">
            <wsa:ReferenceParameters/>
        </wsa:EndpointReference>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZFII00_JGJS_WS">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ZFII00_JGJS_WS">
        <wsdl:port name="ZFII00_JGJS_WS" binding="tns:ZFII00_JGJS_WS">
            <soap:address location="http://10.208.1.107:8000/sap/bc/srt/rfc/sap/zfii00_jgjs_ws/800/zfii00_jgjs_ws/zfii00_jgjs_ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>